/* ----------------     BODY    ------------------- */
body {
  background: #070724;
  background-image: url("./assets/background-stars.svg");
}

/* ----------------     NAVBAR    ------------------- */

.navbar {
  display: flex;
  border-bottom: 1px solid gray;
  height: 8vh;
  justify-content: space-between;
}

.home-btn {
  display: flex;
  color: white;
  width: 15vw;
  padding-left: 2vw;
  align-items: center;
  font-family: "Antonio", sans-serif;
  font-size: 30px;
}

.planets-list {
  display: flex;
  justify-content: center;
  width: 70vw;
}

ul {
  display: flex;
  justify-content: end;
  margin: 0;
  width: 65vw;
}

ul a {
  display: flex;
  letter-spacing: 1px;
  font-weight: 600;
}
/* ----------------     Navbar States And Color Schemes    ------------------- */
.nav-venus,
.nav-earth,
.nav-mars,
.nav-jupiter,
.nav-saturn,
.nav-uranus,
.nav-neptune,
.nav-mercury {
  display: flex;
  color: rgba(190, 190, 190, 1);
  position: relative;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
  height: 7.5vh;
  margin-right: 1vw;
}

.nav-mercury::before,
.nav-venus::before,
.nav-earth::before,
.nav-mars::before,
.nav-jupiter::before,
.nav-saturn::before,
.nav-uranus::before,
.nav-neptune::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 5px;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
}
.nav-mercury:hover,
.nav-venus:hover,
.nav-earth:hover,
.nav-mars:hover,
.nav-jupiter:hover,
.nav-saturn:hover,
.nav-uranus:hover,
.nav-neptune:hover {
  color: white;
}

.nav-mercury::before {
  background-color: #419ebb;
  transform: scaleX(0);
}
.nav-mercury:hover::before,
.nav-mercury:focus::before {
  background-color: #419ebb;
  transform: scaleX(1);
}

.nav-venus::before {
  background-color: #eda249;
  transform: scaleX(0);
}
.nav-venus:hover::before,
.nav-venus:focus::before {
  background-color: #eda249;
  transform: scaleX(1);
}

.nav-earth::before {
  background-color: #6f2ed6;
  transform: scaleX(0);
}
.nav-earth:hover::before,
.nav-earth:focus::before {
  background-color: #6f2ed6;
  transform: scaleX(1);
}

.nav-mars::before {
  background-color: #d14c32;
  transform: scaleX(0);
}
.nav-mars:hover::before,
.nav-mars:focus::before {
  background-color: #d14c32;
  transform: scaleX(1);
}

.nav-jupiter::before {
  background-color: #d83a34;
  transform: scaleX(0);
}
.nav-jupiter:hover::before,
.nav-jupiter:focus::before {
  background-color: #d83a34;
  transform: scaleX(1);
}

.nav-saturn::before {
  background-color: #cd5120;
  transform: scaleX(0);
}
.nav-saturn:hover::before,
.nav-saturn:focus::before {
  background-color: #cd5120;
  transform: scaleX(1);
}

.nav-uranus::before {
  background-color: #1ec2a4;
  transform: scaleX(0);
}
.nav-uranus:hover::before,
.nav-uranus:focus::before {
  background-color: #1ec2a4;
  transform: scaleX(1);
}

.nav-neptune::before {
  background-color: #2d68f0;
  transform: scaleX(0);
}
.nav-neptune:hover::before,
.nav-neptune:focus::before {
  background-color: #2d68f0;
  transform: scaleX(1);
}
/* ----------------     Main Info    ------------------- */

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0;
  width: auto;
  height: 66vh;
  color: white;
}

.planet-img {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 50vw;
}

.jupiter-image {
  height: 64vh;
}

.saturn-image {
  height: 70vh;
}

.geology-image {
  position: absolute;
  margin-top: 40vh;
  height: 20vh;
}

.planet-info {
  float: right;
  height: 60vh;
  width: 25vw;
}

.planet-name {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

.planet-info-text {
  color: rgba(251, 251, 251, 0.65);
  letter-spacing: 0.7px;
  line-height: 21px;
}

.planet-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  width: 25vw;
  height: 6vh;
  border: 1px solid #38384f;
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
}

.wikipedia {
  font-size: 18px;
  font-weight: 600;
  color: #838391;
}

.planet-btn p {
  padding-left: 1vw;
  padding-right: 5vw;
}

/* ----------------     Active-Color States for the Planet Buttons    ------------------- */

.active-mercury {
  background-color: #419ebb;
}

.active-venus {
  background-color: #eda249;
}

.active-earth {
  background-color: #6f2ed6;
}
.active-mars {
  background-color: #d14c32;
}
.active-jupiter {
  background-color: #d83a34;
}
.active-saturn {
  background-color: #cd5120;
}
.active-uranus {
  background-color: #1ec2a4;
}
.active-neptune {
  background-color: #2d68f0;
}
.planet-btn:hover {
  background-color: #38384f;
}

/* ----------------            FOOTER           ------------------- */

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  color: white;
  margin-top: 3vh;
}

.rotation-time,
.revolution-time,
.radius,
.average-temp {
  border: 1px solid #38384f;
  width: 22vw;
  height: 16vh;
}

.footer .title {
  margin-left: 2vw;
  color: #838391;
  font-weight: 600;
  font-size: 15px;
}

.footer .value {
  color: white;
  font-weight: 600;
  margin-left: 2vw;
  font-size: 30px;
}

/* ----------------            MEDIA QUERIES           ------------------- */
/* 
  ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* ----------------     NAVBAR    ------------------- */
  .navbar {
    display: flex;
    flex-direction: column;
    height: 14vh;
    justify-content: center;
    align-items: center;
  }

  .home-btn {
    display: flex;
    color: white;
    width: 30vw;
    /* height: 30vh; */
    padding-left: 0;
    margin-top: 6vh;
    margin-bottom: 1.5vh;
    justify-content: center;
    align-items: baseline;
    font-family: "Antonio", sans-serif;
    font-size: 25px;
    /* border: 1px solid red; */
  }

  .home-btn p {
    padding: 0;
    margin: 0;
  }

  .planet-btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    width: 40vw;
    height: 6vh;
    border: 1px solid #38384f;
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
  }
  .planets-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding-right: 0;
    width: 70vw;
    margin-bottom: 5.5vh;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 59vw;
    height: 5vh;
  }

  ul a {
    display: flex;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
  }

  /* ----------------     Main Info    ------------------- */
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
    width: auto;
    height: 66vh;
    color: white;
    /* border: 1px solid red; */
  }

  .planet-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
    height: 35vh;
    width: 100vw;
    /* border: 1px solid white; */
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 24vh;
    width: 40vw;
    /* border: 1px solid green; */
  }
  .right {
    display: flex;
    flex-direction: column;
    height: 24vh;
    align-items: end;
    width: 40vw;
    /* border: 1px solid green; */
  }

  .planet-img {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 65vw;
    /* border: 1px solid yellow; */
  }

  .planet-img img {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 23vw;
  }
  .planet-name {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
  }

  .planet-info-text {
    letter-spacing: 0.3px;
  }

  /* ----------------     Footer    ------------------- */

  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    color: white;
    margin-top: 3vh;
    /* border: 1px solid yellow; */
  }

  .rotation-time,
  .revolution-time,
  .radius,
  .average-temp {
    border: 1px solid #38384f;
    width: 22vw;
    height: 12vh;
    /* border: 1px solid green; */
  }

  .footer .title {
    margin-left: 2vw;
    color: #838391;
    font-weight: 600;
    font-size: 14px;
  }

  .footer .value {
    color: white;
    font-weight: 500;
    margin-left: 2vw;
    margin-top: 0;
    font-size: 25px;
    /* border: 1px solid green; */
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}
