/* ---------------------NAVBAR-------------- */
body {
  background: #070724;
  background-image: url("./assets/background-stars.svg");
}

.navbar {
  display: flex;
  border-bottom: 1px solid gray;
  height: 10vh;
  width: auto;
  justify-content: space-between;
}

.home-btn {
  display: flex;
  color: white;
  width: 10vw;
  padding-left: 2vw;
  align-items: center;
  font-family: "Antonio", sans-serif;
  font-size: 30px;
}

.planets-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Antonio", sans-serif;
  font-size: 20px;
  font-weight: 100;
  width: 50vw;
}

ul {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: 50vw;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
}

ul a {
  color: white;
  text-decoration: none;
}

/* ---------------------Main Info-------------- */

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0;
  width: auto;
  height: 66vh;
  color: white;
}

.planet-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 50vw;
}

.planet-info {
  height: 55vh;
  width: 25vw;
  /* border: 1px solid yellow; */
}

.planet-name {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

.planet-btn {
  display: flex;
  cursor: pointer;
  /* justify-content: center; */
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  width: 25vw;
  height: 6vh;
  border: 1px solid #38384f;
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
}
.active-mercury{
  background-color: #419EBB;
}
.active-venus{
  background-color: #EDA249;
}
.active-earth{
  background-color: #6F2ED6;
}
.active-mars{
  background-color: #D14C32;
}
.active-jupiter{
  background-color: #D83A34;
}
.active-saturn{
  background-color: #CD5120;
}
.active-uranus{
  background-color: #1EC2A4;
}
.active-neptune{
  background-color: #2D68F0;
}


.planet-btn:hover {
  background-color: #38384f;
}


.wikipedia {
  font-size: 18px;
  font-weight: 600;
  color: #838391;
}

.planet-btn p {
  padding-left: 1vw;
  padding-right: 5vw;
}

.img {
  width: 2000px;
}

/* ---------------------Footer -------------- */

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;

  color: white;
}

.rotation-time,
.revolution-time,
.radius,
.average-temp {
  border: 1px solid #38384f;
  width: 17vw;
  height: 15vh;
}

.footer .title {
  margin-left: 2vw;
  color: #838391;
  font-weight: 600;
  font-size: 15px;
}

.footer .value {
  color: white;
  font-weight: 700;

  margin-left: 2vw;
  font-size: 25px;
}
